@{
	ViewBag.Title = "Todo List";
}

<h3>Todo List </h3>
<p>@Html.ActionLink("Responsive Design Todo List", "Responsive", "Home") </p>
<p>@Html.ActionLink("Dynamic Design Todo List", "Dynamic", "Home") </p>
<p>@Html.ActionLink("Standard Todo List", "Index", "TodoItems")</p>
<p>@Html.ActionLink("Category", "Index", "Categories")</p>
